/* Variables */
:root{
	--blue: #007bff;
	--black: #343a40;
	--gray: #888;
	--lite-gray: #d5d5d5;
	--red: #dc3545;
	--green: #28a745;
	--skyblue: #17a2b8;
	--purple: #6f42c1;
	--gray-skip: #f2f2f2;
	--gray-border: #d5d5d5;
	--gray-code: #f0f0f0;
	--text-color: #000;
	--background-color: #fff;
	--border-rad: 6px;
	--padding-btn: 8px;
	--spacing-el: .5rem 0;
	--fs-h1: 1.5rem;
	--fs-p: 1rem;
	--fs-td: .9rem;
	--ff-sansSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--ff-monospace: monospace;
} 

/* Estilos generales */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--ff-sansSerif);
	font-size: 100%;
}

html {scroll-behavior: smooth;}

body {
	padding: 1rem;
	background: var(--background-color);
}

*:before, *:after {
	position: absolute;
	content: "";
}

a {text-decoration: none;}

a, input, textarea {outline: none;}

textarea {
	background: transparent;
	width: 100%;
	outline: none;
	border-radius: 8px;
	color: var(--text-color);
	height: 8rem;
	padding: 10px;
	font-size: 1rem;
	font-family: var(--ff-monospace);
	border: 1px solid var(--gray-border);
}

	textarea:focus {border: 1px solid var(--blue);}

canvas {margin: var(--spacing-el);}

h1{
	color: var(--blue);
	font-size: var(--fs-h1);
	font-weight: 300;
	margin: var(--spacing-el);
}

p {color: var(--text-color)}

table {border-collapse: collapse;}

th, td {
  		border-bottom: 1px solid var(--gray-border);
  		padding: 15px;
  		white-space: nowrap;
  		text-align: center;
  		font-size: .9rem;
  		//color: var(--text-color);
}

tr:nth-child(even) {background-color: var(--gray-skip);}

/* Botones */
.btn {
	font-size: var(--fs-p);
	border: 1px solid;
	padding: var(--padding-btn);
	margin: var(--spacing-el);
	border-radius: var(--border-rad);
	text-align: center;
	width: 50%;
	transition: .5s;
	cursor: pointer;
}

.order-1-blue {
	color: white;
	background: var(--blue);
	border-color: var(--blue);
}

	.order-1-blue a {color: white;}

.order-2-blue {
	border-color: var(--blue);
	color: var(--blue);
}

	.order-2-blue:hover {
		color: white;
		background: var(--blue);
	}

.order-3-blue {
	border: none;
	color: var(--blue);
}

.order-2-purple {
	border-color: var(--purple);
	color: var(--purple);
}

	.order-2-purple:hover {
		color: white;
		background: var(--purple);
	}

/* Contenedores */
.container {
	width: 100%;
	margin: var(--spacing-el);
}

.title {text-align: center;}

.info{
	line-height: 1.5rem;
	font-weight: 300;
	padding: 1rem;
}

.info p {margin: 1rem auto;}

.box {
	border: 1px solid var(--gray-border);
	border-radius: var(--border-rad);
	margin: var(--spacing-el);
}

/* Tablas */
.freqTable {height: 12rem;}
.trendTable {height: 9rem;}
.table {
	width: auto;
	margin: var(--spacing-el);
}
.td-left {text-align: left;}
.td-blue {color: var(--blue);}
.td-purple {color: var(--purple);}

/* Formularios */
.input-blue {
	border: 1px solid var(--blue);
	border-radius: 0 5px 5px 0;
	margin: .5rem 0 .5rem 15%;
	padding: var(--padding-btn);
	width: 85%;
	background: transparent;
}

.divInput {
	width: 100%;
	position: relative;
}

	.divInput:before {
		top: .5rem;
		left: 0;
		height: calc(100% - 18px);
		width: calc(15% - 1px);
		border: 1px solid var(--blue);
		border-radius: 6px 0 0 6px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--blue);
	}

.inputK:before {content: "K";}

.inputA:before {content: "A";}

/* Spans */
.small {
	font-size: .7rem;
	color: var(--gray);
	white-space: nowrap;
	margin: var(--spacing-el);
}

.i {font-style: italic;}

.code {
	background: var(--gray-code);
	font-family: var(--ff-monospace);
	padding: 2px;
	font-size: 1rem;
	white-space: nowrap;
}

.icon {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	height: 1.5rem;
	width: 1.5rem;
	border: 1px solid;
	border-radius: 50%;
	font-size: 1.2rem;
	transition: .5s;
	cursor: pointer;
}

	.icon:hover {color: white;}

.icon-blue {
	border-color: var(--blue);
	color: var(--blue); 
}

	.icon-blue:hover {background: var(--blue);}

.icon-red {
	border-color: var(--red);
	color: var(--red);
}

	.icon-red:hover {background: var(--red);}

/* Posicionamiento, display y overflow */
.pos-abs{position: absolute;}
.pos-rel {position: relative;}
.d-none {display: none;}
.of-x {overflow-x: auto;}
.of-y {overflow-y: auto;}
.of-h {overflow: hidden;}
.d-flex-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.d-flex-row{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Anclas */
.blue {color: var(--blue); font-weight: 400;}
.purple {color: var(--purple); font-weight: 400;}

/* Bordes */
.border-blue {border-color: var(--blue);}
.border-purple {border-color: var(--purple);}