@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

:root{
  font-size: 10px;
  --background-color: white;
  --text-color: black;
  --btn-color: #ffc107;
  --btn-info: #007bff;
}

body{
  font-family: poppins;
}

* {
  top: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
  padding: 25px;
}

.title{
  font-size: 2.5rem;
}

.subtitle{
  font-size: 1.4rem;
}

.header-right{
  display: none;
  position: relative;
}

.header-left{
  width: 100%;
}

.secondary-text{
  font-size: 1.1rem;
  margin-top: 1rem;
  color: var(--btn-info);
  cursor: pointer;
}

main{
  padding: 0 2.5rem;
  width: 100vw;
}

.myForm{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.sign-unit{
  background-color: var(--btn-color);
  padding: .8rem 2rem;
  display: inline-block;
  border-radius: .5rem;
  margin-bottom: 2rem;
}

.sign-unit p{
  font-size: 1.4rem;
  text-align: center;
}

.myForm .unit-box{
  border: 1px solid #d2d2d2;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 45%;
  margin: 1rem 0;
  overflow: hidden;
}

.unit-box input{
  height: 5rem;
  border: none;
  font-size: 1.8rem;
  padding-left: 1rem;
  outline: none;
}

.unit-box:hover{
  box-shadow: 0px 0px 1px 2px rgba(100,100,100,.15);
}

.unit-box label{
  height: 3rem;
  border-top: 1px solid #d2d2d2;
  background: #f2f2f2;
  font-size: 1.4rem;
  padding-left: 1rem;
}

.instructions {
  display: none;
}

.instructions.show{
  background: white;
  display: block;
  padding: 2rem;
  margin: 2rem 0;
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.8;
  border: 1px solid #d2d2d2;
  border-left: 6px solid var(--btn-info);
  border-radius: 5px;
}

@media (min-width: 600px){
  .myForm .unit-box{
    width: 23%;
  }

  .secondary-text{
    display: none;
  }

  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5rem;
  }

  .header-right {
    display: block;
    }

  .info{
    background: var(--btn-info);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .info:hover{
    box-shadow: 0px 0px 2px 2px rgba(19, 96, 197, 0.4);
  }

  .tooltip {
    display: none;
    opacity: 0;
  }

  .header-right:hover .tooltip{
    display: block;
    position: absolute;
    opacity: 1;
    background: white;
    padding: 2rem;
    min-width: 40rem;
    font-size: 1.4rem;
    line-height: 1.8;
    border-left: 6px solid var(--btn-info);
    border-radius: 5px;
    box-shadow: 0 4px 3px 3px rgba(0,0,0,0.1);
    top: -5px;
    right: 150%;
    z-index: 2;
  }

  .text-info{
    color: white;
    font-weight: bold;
    font-size: 2.2rem;
  }
}