table, td{
  border: 1px solid black;
}

.inputs{
  padding: 8px;
}

.form{
  overflow-y: auto;
  overflow-x: auto;
  max-width: 100vw;
  max-height: 45vh;
}

  .form input{
    padding: 8px;
    width: 3rem;
  }

  .form .row0, .form .col0{
    background-color: #aaa;
  }

.form div{
  display: flex;
}

.download{
  display: none;
}

.show{
  display: block;
}

.divCanvas {
  width: 50vw;
}

#myChart {
  width: 100%;
  object-fit: contain;
}